<!doctype html>
<html class="h-100"> 
  <head>
    <title>Discorl</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
      body {
        background-color: #5865F2;
      }
      form {
        background-color: #36393F;
      }
      input[type="text"], input[type="text"]:focus, input[type="number"], input[type="number"]:focus {
        color: white;
        background-color: #202225;
      }
      button[type="submit"], button[type="submit"]:visited {
        background-color: #5865F2;
      }
      button[type="submit"]:hover {
        background-color: #4752C4;
      }
    </style>
  </head>
  <body class="h-100">
    <div class="container d-flex flex-column justify-content-center align-items-center w-50 h-100">
      <form class="w-100 p-5" method="post" action="login">
        <h2 class="text-center text-light">Welcome back!</h2>
        <h3 class="text-center text-secondary">We're so excited to see you again!</h3>

{% if successmsg %}
        <p class="text-success">{{ successmsg }}</p>
{% endif %}
{% if errormsg %}
        <p class="text-danger">{{ errormsg }}</p>
{% endif %}

        <div class="form-outline">
          <input type="text" id="username" name="username" class="form-control" />
          <label class="form-label text-light" for="loginName">Username</label>
        </div>

        <p><a id="getuserlink" class="mb-4" href="#">Let me guess a password!</a></p>

        <div class="form-outline">
          <input type="text" id="password" name="password" class="form-control" required/>
          <label class="form-label text-light" for="loginPassword">Password</label>
        </div>

        <div class="d-flex justify-content-between mb-4">
          <div class="border">
            <div class="p-3">
              <div class="form-outline">
                <input type="number" id="k" name="k" class="form-control" />
                <label class="form-label text-light" for="k">k (number of total passwords &lt; 6 to return)</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="include">
                <label class="form-check-label text-light" for="include">Include actual password</label>
              </div>
              <p><a id="forgotpwlink" class="mb-4" href="#">Forgot your password?</a></p>
            </div>
          </div>
          <p><a id="getpwlink" class="mb-4" href="#">Okay, what's the real password?</a></p>
        </div>

        <button type="submit" class="btn btn-block mb-4 w-100 text-light">Login</button>

        <p class="text-secondary">Need an account? <a href="create">Register</a></p>

        <div id="forgotpassworddiv" class="text-light">
          <p id="forgotpassword"></p>
        </div>

        <p id="getpassword" class="text-light"></p>
      </form>

    </div>
    <script>
      $('#forgotpwlink').click(function() {
        let i = 0;
        if (!$('#username').val()) {
          alert('Username required!');
          return;
        }
        if (!$('#k').val() || $('#k').val() > 5) {
          alert('k required and <= 5');
          return;
        }
        const t = setInterval(() => {
          $('#forgotpassword').text('Getting similar passwords... this may take ~5 minutes' + '.'.repeat(i%4));
          i++;
        }, 1000);
        $('#pwlist').remove();
        $.ajax({
          type: 'POST',
          url: '/forgot',
          data: {
            username: $('#username').val(),
            actual: "false",
            k: $('#k').val(),
            include_actual: $("#include").is(':checked')
          },
          success: function(pwlist) {
            clearInterval(t);
            let s = '<ul id="pwlist">';
            Object.keys(pwlist).forEach(function(e) {
              s += '<li>' + e + '</li>';
            });
            s += '</ul>';
            $('#forgotpassword').text('Here are some passwords somewhat like your original password: ');
            $('#forgotpassworddiv').append(s);
          },
          error: function(jqXHR, exception) {
            clearInterval(t);
            $('#forgotpassword').text(jqXHR.responseText);
          }
        });
      });

      $('#getpwlink').click(function() {
        if (!$('#username').val()) {
          alert('Username required!');
        } else {
          $.ajax({
            type: 'POST',
            url: '/forgot',
            data: {
              username: $('#username').val(),
              actual: "true"
            },
            success: function(pw) {
              $('#getpassword').text('Your password is: ' + pw);
            }
          });
        }
      });

      $('#getuserlink').click(function() {
        $('#username').val('');
        $.ajax({
          type: 'POST',
          url: '/getuser',
          success: function(username) {
            $('#username').val(username);
          }
        });
      });
    </script>
  </body>
</html>
